<div class="row wrapper">
  <div class="background"></div>

  <!-- <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div> -->
  <div class="column-one">
    <h1 class="project-heading">
      <strong>Open Source </strong> <strong class="purple">Projects </strong>
    </h1>

    <!-- card-design.component.html -->

    <div class="card-list">
      <div class="card-container row">
        <div class="card col-4">
          <div class="card-content">
            <h3>E-commerce Application</h3>
            <img
              src="assets/images/Ecommerce-Business.jpg"
              alt="React"
              class="img"
            />
            <p>
              🤖 This project is a backend for an e-commerce platform, providing
              RESTful APIs for product management, user authentication, order
              processing, and more.
            </p>
          </div>
          <div class="card-arrow">
            <a
              class="link-secondary"
              style="text-decoration: none"
              href="https://github.com/atefkhelifi/E-Commerce-backend"
              target="_blank"
              >→</a
            >
          </div>
        </div>
        <div class="card col-4">
          <div class="card-content">
            <h3>Why REACT Is The Best?</h3>
            <img
              src="assets/images/free_PNG90756.png"
              alt="React"
              style="width: 275px"
            />
            <p>
              🚀 Software Developer Portfolio Template that helps you showcase
              your work and skills as a software developer.
            </p>
          </div>
          <div class="card-arrow">
            <span>→</span>
          </div>
        </div>
        <div class="card col-4">
          <div class="card-content">
            <h3>Why REACT Is The Best?</h3>
            <img
              src="assets/images/free_PNG90756.png"
              alt="React"
              style="width: 275px"
            />
            <p>🔥 React + Github Issues 👉 Your Personal Blog</p>
          </div>
          <div class="card-arrow">
            <span>→</span>
          </div>
        </div>
        <div class="card col-4">
          <div class="card-content">
            <h3>Why REACT Is The Best?</h3>
            <img
              src="assets/images/free_PNG90756.png"
              alt="React"
              style="width: 275px"
            />
            <p>
              🚀 Software Developer Portfolio Template that helps you showcase
              your work and skills as a software developer.
            </p>
          </div>
          <div class="card-arrow">
            <span>→</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
