.row {
  display: flex;
}
.purple {
  color: rgba(230, 137, 137, 0.637) !important;
}
.project-heading {
  color: #fff !important;
  /*font-size: 2.1em !important;*/
  font-weight: 500 !important;
  padding-top: 10px !important;
  display: flex;
  justify-content: center;
}
.project-heading-nc {
  color: #fff !important;
  font-size: 2.1em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.column-one {
  flex: 55%;
  padding: 10vh 10px 0 clamp(50px, 8%, 200px);
  /* trbl */
}
.column-two {
  flex: 45%;
  padding: 0 clamp(50px, 8%, 200px) 0 10px;
}

.column-one *,
.column-two * {
  position: relative;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 320px; /* Ajuster la largeur selon votre préférence */
  height: auto; /* Ajuster la hauteur selon votre préférence */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}

.card-arrow {
  background-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-arrow span {
  font-size: 1.5rem;
  color: #666;
}

.card:hover {
  background-color: rgb(
    230 137 137 / 64%
  ) !important; /* Changer la couleur au survol */
  color: #fff; /* Changer la couleur du texte au survol */
}

.card:hover .card-arrow {
  background-color: rgba(255, 255, 255, 0.2);
}

.card:hover .card-arrow span {
  color: #fff;
}

.card:hover h3,
.card:hover p {
  color: #fff;
}
.card-list {
  margin: 20px;
}
.img {
  width: 275px;
  border-radius: 3%;
  margin: 10px;
}
