<div class="row wrapper">
  <div class="background"></div>

  <!-- <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div> -->
  <div class="column-one">
    <h1 class="project-heading-nc">
      What I <strong class="purple">Do? </strong>
    </h1>
    <div class="row" style="align-items: center">
      <div class="col-md-7">
        <div>
          ⚡ Building responsive website
          <strong class="purple">frontend</strong> using Angular
        </div>
        <div>
          ⚡ Creating application <strong class="purple">backend</strong> in
          NodeJS, Express & Java, Spring Boot
        </div>
        <div>
          ⚡ Working with <strong class="purple">databases</strong> such as
          MySQL, MongoDB, and PostgreSQL
        </div>
        <div>
          ⚡ Utilizing
          <strong class="purple">version control systems</strong> GitHub for
          collaboration
        </div>
      </div>
      <div class="col-md-5">
        <ng-lottie [styles]="styles" [options]="options"></ng-lottie>
      </div>
    </div>
    <h1 class="project-heading">
      <strong>Professional </strong> <strong class="purple">Skillset </strong>
    </h1>
    <div class="image-list">
      <div class="image-item">
        <img src="assets/images/icons8-java.svg" alt="java Icon" />
        <img src="assets/images/icons8-javascript.svg" alt="Javascript Icon" />
        <img src="assets/images/icons8-typescript.svg" alt="TS Icon" />

        <img src="assets/images/icons8-spring-boot.svg" alt="Springboot Icon" />
        <img src="assets/images/icons8-nodejs.svg" alt="Nodejs Icon" />
        <img src="assets/images/icons8-angular.svg" alt="Angular Icon" />

        <img src="assets/images/icons8-html-5.svg" alt="HTML 5 Icon" />
        <img src="assets/images/icons8-css.svg" alt="CSS Icon" />
        <img src="assets/images/icons8-bootstrap.svg" alt="bootstrap Icon" />

        <img src="assets/images/icons8-postgresql.svg" alt="Postgresql  Icon" />
        <img src="assets/images/icons8-mysql.svg" alt="Mysql Icon" />
        <img src="assets/images/icons8-mongodb.svg" alt="MongoDB Icon" />

        <img src="assets/images/icons8-jenkins.svg" alt="jenkins Icon" />
        <img src="assets/images/icons8-git.svg" alt="Git Icon" />
        <img src="assets/images/icons8-docker.svg" alt="Docker Icon" />
      </div>
    </div>
    <h1 class="project-heading"><strong class="purple">Tools </strong>I use</h1>
    <div class="image-list">
      <div class="image-item">
        <img src="assets/images/icons8-vs-code.svg" alt=" VS code Icon" />
        <img src="assets/images/icons8-java-eclipse.svg" alt="Eclipse Icon" />
        <img src="assets/images/icons8-intellij-idea.svg" alt="Intellij Icon" />
      </div>
    </div>
  </div>
</div>
