<div class="title">
  <strong class="purple">Experience </strong>
</div>

<!-- Timeline start -->
<div class="timeline">
  <div class="timeline-row">
    <div class="timeline-time">2021-2024<small>EmyeHR</small></div>
    <div class="timeline-dot green-four-bg"></div>
    <div class="timeline-content green-four">
      <i class="fa fa-code"></i>
      <h4>FULL‑STACK ENGINEERING</h4>
      <!-- <p class="no-margin">
        Led the development of a web‑based (SaaS) application, spearheading the
        creation of a comprehensive employee management website. This initiative
        resulted in significant enhancements to work‑life quality for client
        companies.
      </p>
      <div>
        <span class="badge badge-light">Analytics</span>
        <span class="badge badge-light">Graphs</span>
      </div> -->
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-time">2021<small>HITSolutions</small></div>
    <div class="timeline-dot teal-bg"></div>
    <div class="timeline-content teal">
      <i class="fa fa-laptop"></i>
      <h4>END‑OF‑STUDIES INTERNSHIP</h4>
      <!-- <p class="no-margin">
        Design and development of an application allowing the management of
        connected devices.
      </p>
      <div>
        <span class="badge badge-light">Labels</span>
        <span class="badge badge-light">Filters</span>
      </div> -->
    </div>
  </div>
  <div class="timeline-row">
    <div class="timeline-time">2018-2021<small>ESPRIT</small></div>
    <div class="timeline-dot sea-green-bg"></div>
    <div class="timeline-content sea-green">
      <i class="fa fa-graduation-cap"></i>
      <h4>COMPUTER SCIENCE AND ENGINEERING</h4>
    </div>
  </div>
</div>
<div class="title">
  <strong class="purple">Certifications </strong>
</div>

<!-- Timeline end -->
<div class="card-list">
  <div class="card-container row">
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_mern.jpg" class="img" />
        <h3>MERN Stack</h3>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_js.jpg" class="img" />
        <h3>JavaScript ES6</h3>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_aws.jpg" class="img" />
        <h3>AWS Fundamentals: Going Cloud-Native</h3>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_git.jpg" class="img" />
        <h3>Version Control with Git</h3>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_francais.jpg" class="img" />
        <h3>French</h3>
      </div>
    </div>
    <div class="card col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="card-content">
        <img src="assets/images/certif_english.jpg" class="img" />
        <h3>English</h3>
      </div>
    </div>
  </div>
</div>
