body {
  margin-top: 20px;
  background: #eee;
}
.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
  width: 80%;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-right: 2px dashed #c4d2e2;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;

  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -50px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #ffffff;
  border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}

.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}

.timeline-row .timeline-content i {
  font-size: 2rem;
  color: #ffffff;
  line-height: 100%;
  padding: 10px;
  border: 2px solid #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
  display: inline-block;
}

.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
  margin-bottom: 10px;
}

.timeline-row:nth-child(even) .timeline-content {
  background-color: #ee6b6e;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c30010),
    to(#ee6b6e)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #c30010, #ee6b6e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #c30010, #ee6b6e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #c30010, #ee6b6e);
  /* IE10 */
  background-image: -o-linear-gradient(top, #c30010, #ee6b6e);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #c30010, #ee6b6e);
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #ee6b6e;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #a20021;
  /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f52f57),
    to(#a20021)
  );
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f52f57, #a20021);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #f52f57, #a20021);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f52f57, #a20021);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f52f57, #a20021);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f52f57, #a20021);
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #a20021;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
  .timeline {
    padding: 15px 10px;
  }
  .timeline:after {
    left: 28px;
  }
  .timeline .timeline-row {
    padding-left: 0;
    margin-bottom: 16px;
  }
  .timeline .timeline-row .timeline-time {
    position: relative;
    right: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row .timeline-time strong {
    display: inline-block;
    margin-right: 10px;
  }
  .timeline .timeline-row .timeline-icon {
    top: 52px;
    left: -2px;
    margin-left: 0;
  }
  .timeline .timeline-row .timeline-content {
    padding: 15px;
    margin-left: 56px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .timeline .timeline-row .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding-right: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    right: auto;
    left: auto;
    top: 0;
    text-align: left;
    margin: 0 0 6px 56px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin-right: 0;
    margin-left: 55px;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    right: auto;
    left: -39px;
    top: 32px;
    border-right: 18px solid #a20021;
    border-left: inherit;
  }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
    left: 20px;
  }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
    left: 0;
  }
}
.title {
  text-align: center;
  color: white;
  margin: 15px;
}
.purple {
  font-size: 2.1em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
  color: rgba(230, 137, 137, 0.637) !important;
}
/*card*/
.card {
  width: 355px;
  height: auto; /* Ajuster la hauteur selon votre préférence */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1.7px solid rgba(230, 137, 137, 0.637) !important;
  box-shadow: 0 0 10px rgb(175, 49, 49); /* Ajoute une légère ombre */
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.card p {
  font-size: 0.9rem;
  color: #ffffff;
}
.card:hover {
  transition: all 0.4s ease 0s !important;
  transform: scale(1.05); /* Zoom in by 10% on hover */
  /*background-color: rgb(
    230 137 137 / 64%
  ) !important;*/ /* Changer la couleur au survol */
  color: #fff; /* Changer la couleur du texte au survol */
}

.card:hover .card-arrow {
  color: 1.7px solid rgba(230, 137, 137, 0.637) !important;
  box-shadow: 0 0 10px rgb(175, 49, 49);
}

.card:hover .card-arrow span {
  /* color: #fff;*/

  color: 1.7px solid rgba(230, 137, 137, 0.637) !important;
}

.card:hover h3,
.card:hover p {
  color: #fff;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-arrow {
  background-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-arrow span {
  font-size: 1.5rem;
  color: #666;
}

.card-list {
  margin: 20px;
}
.img {
  width: 340px;
  border-radius: 3%;
  margin: 10px;
  height: 222px;
}
.card:hover .img {
  border: 1.7px solid rgba(230, 137, 137, 0.637) !important;
  box-shadow: 0 0 10px rgb(175, 49, 49); /* Ajoute une légère ombre */
}
