<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate"><div #elem class="parallax"></div></div>
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <p class="text-over-image">
      <span
        class="waving-hand"
        role="img"
        aria-label="wave"
        style="font-size: 2rem"
        >👋</span
      >
      hey! I'm
    </p>
    <div class="name">
      <p class="p-name2 typing-text">
        Atef Khelifi<span class="p-name2">.</span>
      </p>
    </div>

    <div class="name">
      <p>
        A passionate Full Stack Software Developer
        <span class="rocket">🚀</span>
        having an experience of building Web and Mobile applications with
        JavaScript / Angular / Nodejs / Java/ Spring boot and some other cool
        libraries and frameworks.
      </p>
    </div>
    <div class="name">
      <div class="vn-red" style="text-align: center">
        <a href="assets/images/ATEF_Khelifi.pdf" download="resume"
          >DOWNLOAD CV<i class="fa fa-rocket fa-lg fa-spin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="column-two"></div>
</div>
