<div class="row wrapper">
  <div class="background"></div>
  <div class="pulsate"><div #elem class="parallax"></div></div>
  <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left"></div>
  <div class="column-one">
    <p class="text-over-image">
      <span
        class="waving-hand"
        role="img"
        aria-label="wave"
        style="font-size: 2rem"
        >👋</span
      >
      hey! I'm
    </p>
    <div class="name">
      <p class="p-name typing-text">
        Atef Khelifi<span class="p-name2">.</span>
      </p>
    </div>
    <!-- <div class="name">
      <div>
        <span class="typing-text">text</span>
        <span class="typing-text">Fullstack Developer</span>
        <div class="typing-animation">
          <p class="text">This is a typing animation</p>
          <span class="cursor">|</span>
        </div>
        <h1 class="tw"></h1>
      </div>
      <div class="typewriter">
        <h1>Hello, World!</h1>
      </div>
      <div id="textContainer">
        <p id="firstWord">full</p>
        <p id="secondWord" style="display: none">stack developer</p>
      </div>
    </div> -->
    <!-- <div class="name">
      <p class="p-first">
        i'm a [fairly decent] human from bangalore, india who loves problem
        solving.
      </p>
      <p class="p-second">
        i'm currently building awesome stuff at
        <a href="https://www.goldmansachs.com/">goldman sachs</a>. you can find
        my <a href="/resume">resume here</a>.
      </p>
      <p class="p-third">
        i go by
        <a href="https://twitter.com/vikiwarrior" rel="nofollow"
          >@vikiwarrior</a
        >
        on the interwebs.
      </p>
    </div> -->
    <div class="name">
      <p>
        A passionate Full Stack Software Developer
        <span class="rocket">🚀</span>
        having an experience of building Web and Mobile applications with
        JavaScript / Angular / Nodejs / Java/ Spring boot and some other cool
        libraries and frameworks.
      </p>
    </div>
    <div class="name">
      <div class="vn-red" style="text-align: center">
        <a href="assets/images/ATEF_Khelifi.pdf" download="resume"
          >DOWNLOAD CV<i class="fa fa-rocket fa-lg fa-spin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="column-two"></div>
</div>
